node_modules/
.next/
dist/
build/
.env
.env.*
/.pnp
.pnp.js
coverage/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
/.idea/
.vscode/
/.husky/_/
/.turbo/
public/**/*.key
*.pem
*.p12
/*.local
*.local.*
.cache
/.eslintcache
/.parcel-cache
.vercel
.vercel/**# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts